/* Write your CSS here */
.img-container {
  display: flex;
  flex-direction: column;
}

.image {
  height: 100px;
  width: 150px;
  border-radius: 5px;
}

.name {
  color: #000000;
  font-size: 14px;
  font-family: 'Roboto';
}
